<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">Book Store Manager</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="#" target="_blank">
                        A PluralSight Demonstration Program
                    </a>
                </li>
                <li>
                    <a href="http://www.nuget.org/packages/HotTowel.Angular" target="_blank">
                        <img src="../../Content/images/icon.png" />Hot Towel
                    </a>
                </li>
                <li>
                    <a href="http://www.servicestack.net" target="_blank">
                        <img src="../../Content/images/ServiceStack.png" />ServiceStack
                    </a>
                </li>
                <li>
                    <a href="http://getbootstrap.com" target="_blank">
                        <img src="../../Content/images/Bootstrap.png" />
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="http://www.angularjs.org" target="_blank">
                        <img src="../../Content/images/AngularJS-small.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>